.container {
  display: grid;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  margin-bottom: 100px;
  margin-top: 100px;
  width: 800px;
}

.container h3 {
  justify-self: center;
  margin-bottom: 40px;
  font-style: italic;
}

.container p {
  margin: 0;
  height: 25px;
  font-size: 14px;
}

.container input {
  margin-bottom: 20px;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.container span {
  color: red;
  font-size: 12px;
  margin-top: -20px;
}

.create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.part1 {
  display: grid;
}

.part2 {
  display: grid;
}

.nombre {
  display: grid;
  height: 75px;
}

.calle {
  display: grid;
  height: 75px;
}

.numero {
  display: grid;
  height: 75px;
}

.pisoDto {
  display: flex;
}

.pisoDto input {
  margin: 0;
  margin-left: 5px;
  margin-top: -6px;
}

.piso {
  display: grid;
  height: 75px;
}

.dto {
  display: grid;
  height: 75px;
}

.extra {
  display: grid;
  height: 75px;
}

.categoria {
  display: grid;
  height: 75px;
}

.categoria select {
  height: 35px;
  margin-top: -15px;
  border-radius: 5px;
}

.horarios {
  display: grid;
  height: 75px;
}

.dias {
  display: grid;
  height: 75px;
}

.face {
  display: flex;
}

.faceIn {
  display: grid;
  height: 75px;
}

.face input {
  margin: 0;
  margin-left: 5px;
  margin-top: -6px;
}

.insta {
  display: flex;
}

.insta input {
  margin: 0;
  margin-left: 5px;
  margin-top: -6px;
}

.instaIn {
  display: grid;
}

.whats {
  display: flex;
}

.whats input {
  margin: 0;
  margin-left: 5px;
  margin-top: -6px;
}

.whatsIn {
  display: grid;
}

.foto {
  display: grid;
  height: 75px;
  margin-top: 20px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: red;
  border: none;
  border-radius: 5px;
  justify-self: center;
}

@media (max-width: 768px) {
  .container {
    width: 320px;
  }

  .create {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
