.title {
  display: grid;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.1);
  padding-bottom: 20px;
}

.title h2 {
  margin-top: 80px;
  justify-self: center;
}

.title p {
  justify-self: center;
  margin: 0;
}

.stores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.storeCard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  justify-self: center;
}

.storeCard h2 {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

.storeCard p {
  font-size: 12px;
  margin: 5px;
}

.storeCard button {
  background-color: red;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  justify-self: center;
}

.info {
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  align-self: center;
}

.stores h2 {
  justify-self: center;
}

.image {
  max-width: 75px;
  max-height: 75px;
  object-fit: cover;
  border-radius: 50%;
  justify-self: center;
  border: 2px solid red;
}

@media (max-width: 1280px) {
  .stores {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .stores {
    grid-template-columns: 1fr;
  }

  .title h2 {
    margin-top: 20px;
  }
}
