.cardsStore {
  position: relative;
  display: grid;
  justify-self: center;
  width: 280px;
  height: 380px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
}

.favorite {
  position: absolute;
  right: 15px;
  top: 15px;
  display: grid;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.cardsStore .fav {
  width: 30px;
  height: 30px;
  justify-self: center;
  align-self: center;
}

.cardsStore .imagen {
  display: grid;
  padding-top: 40px;
}

.cardsStore .imagen img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  border: 3px solid red;
  object-fit: cover;
}

.texto {
  margin-top: 20px;
}

.texto h2 {
  margin: 0;
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
}

.texto h4 {
  margin: 0;
  font-size: 14px;
}

.texto h5 {
  margin: 0;
  font-size: 14px;
}

.boton {
  padding: 20px;
}

.boton button {
  background-color: red;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}

/* @media (max-width: 768px) {
  .cardsStore {
    width: 130px;
    height: 210px;
  }

  .cardsStore .imagen {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .cardsStore .boton {
    padding: 0;
    padding-top: 10px;
  }

  .cardsStore img {
    width: 50px;
    height: 50px;
  }

  .cardsStore h2 {
    font-size: 14px;
  }

  .cardsStore h4 {
    font-size: 12px;
  }

  .cardsStore .boton button {
    width: 54px;
    height: 24px;
    font-size: 14px;
  }

  .cardsStore .fav {
    width: 24px;
    height: 24px;
  }
} */
