.cardsStore {
  display: grid;
  grid-template-rows: 3fr 3fr 1.5fr;
  width: 280px;
  height: 350px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.cardsStore .fav {
  display: grid;
  position: absolute;
  margin-left: -200px;
  margin-top: -280px;
  width: 32px;
  height: 32px;
}

.cardsStore .imagen {
  display: grid;
}

.cardsStore img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.cardsStore .texto h2 {
  margin: 0;
}

.cardsStore .texto h4 {
  margin: 0;
}

.cardsStore .boton button {
  background-color: red;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}
