.detail {
  display: grid;
  grid-template-columns: 1.3fr 2.5fr 1.3fr;
  width: 85vw;
  height: fit-content;
}

.avatar {
  display: flex;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid red;
}

.avatar h3 {
  align-self: center;
  padding-left: 5px;
  margin: 10px;
  font-style: italic;
}

.contact {
  margin-top: 20px;
}

.contact h4 {
  color: cornflowerblue;
  margin: 0;
  font-size: 14px;
}

.images {
  margin-top: 70px;
  padding: 30px;
  background-color: rgba(123, 123, 123, 0.1);
  height: fit-content;
  border-radius: 10px;
}

.info {
  padding: 20px;
  border: 2px solid rgba(123, 123, 123, 0.1);
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 70px;
}

.info input {
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 40px;
  border: 2px solid grey;
  border-radius: 5px;
}

.info h2 {
  font-weight: 800;
  font-style: italic;
  font-size: 20px;
  margin-top: 0;
}

.info h3 {
  font-size: 20px;
  font-style: italic;
}

.info h4 {
  font-size: 20px;
  color: cornflowerblue;
}

.info h5 {
  color: cornflowerblue;
  margin: 0;
  margin-top: 30px;
  font-size: 16px;
}

.info button {
  border: none;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  color: white;
  margin: 0;
  font-size: 18px;
  align-self: center;
}

.but {
  display: flex;
}

.envio {
  display: flex;
  flex-wrap: nowrap;
}

.precio {
  display: flex;
  margin-top: 10px;
  margin-bottom: 35px;
}

.precio h4 {
  margin: 0;
}

.precio span {
  align-self: center;
  margin-right: 5px;
}

.sidebar {
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 70px;
  background-color: rgba(123, 123, 123, 0.1);
}

.sidebar a {
  color: inherit;
}

.desc {
  width: 85vw;
  justify-self: center;
  margin-top: -20px;
}

.desc h5 {
  margin-bottom: -15px;
  color: cornflowerblue;
  padding-left: 5px;
}

.desc p {
  background-color: rgba(123, 123, 123, 0.1);
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 50px;
}

.comprar {
  display: grid;
  margin-top: 25px;
}

.comprar button {
  width: 90px;
  height: 40px;
  border: none;
  background-color: cornflowerblue;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
}

.spinner {
  margin-top: 300px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffe66d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
    margin-right: 0;
    height: auto;
  }
  .detail {
    grid-template-columns: 1fr;
  }

  .contact h4 {
    padding-left: 20px;
  }

  .images {
    padding: 10px;
    margin-top: 10px;
  }

  .info {
    padding-top: 0;
    padding-left: 5px;
    margin: 0;
    border: none;
  }

  .info h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .info h5 {
    color: cornflowerblue;
    margin: 0;
    margin-top: 10px;
  }

  .precio {
    margin-bottom: 10px;
  }

  .comprar {
    margin-top: 0;
  }

  .desc {
    margin-top: 0px;
    margin-bottom: 100px;
  }
}
