.home {
  display: grid;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: center;
}

.title {
  display: grid;
  justify-self: center;
}

.title h2 {
  font-weight: 800;
  font-style: italic;
  margin: 0;
  margin-top: 20px;
}

.title p {
  color: cornflowerblue;
  justify-self: center;
}

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-self: center;
}

.stores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-self: center;
  margin-bottom: 100px;
  margin-top: 10px;
}

@media (max-width: 1280px) {
  .stores {
    grid-template-columns: 1fr 1fr;
  }

  .productos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .stores {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .productos {
    grid-template-columns: 1fr;
  }
}
