.viewStore {
  display: grid;
  position: absolute;
  left: 0;
}

.store {
  display: grid;
  grid-template-columns: 200px 6fr;
  width: 100vw;
  height: 200px;
  justify-self: center;
  margin-top: 60px;
  background-color: rgba(128, 128, 128, 0.1);
}

.avatar {
  display: grid;
  justify-content: center;
}

.avatar p {
  font-size: 12px;
  align-self: flex-start;
  margin: 0;
}

.buttonMP {
  display: grid;
}

.MP {
  display: grid;
  justify-self: center;
}

.MP button {
  padding: 0;
  justify-content: center;
}

.modal {
  display: grid;
  width: 300px;
  justify-self: center;
  color: initial;
  font-size: 12px;
  text-align: center;
}

.modal p {
  color: red;
}

.avatar img {
  width: 150px;
  height: 150px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  border: 3px solid red;
  margin: 5px;
  object-fit: cover;
}

.info {
  text-align: left;
  align-self: center;
  padding-left: 30px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.info h2 {
  margin: 0;
  font-weight: 800;
  font-style: italic;
}

.info p {
  margin: 0;
  color: cornflowerblue;
}

.info2 {
  display: grid;
  text-align: center;
  align-self: center;
}

.info2 h3 {
  margin: 0;
  align-self: center;
  justify-self: center;
  padding-right: 5px;
}

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5px;
  justify-self: center;
}

.redes button {
  display: grid;
  width: 40px;
  height: 40px;
  justify-self: center;
  align-self: center;
}

.redes img {
  justify-self: center;
  align-self: center;
}

.title {
  display: grid;
  height: 100px;
  font-style: italic;
  color: grey;
}

.title h2 {
  justify-self: center;
  margin: 0;
  align-self: center;
}

.agregar {
  display: grid;
  margin-top: 25px;
}

.agregar button {
  justify-self: center;
  background-color: transparent;
  height: 40px;
  color: cornflowerblue;
  border: none;
  font-size: 16px;
}

.store2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-self: center;
}

.info2 button {
  border: none;
  background-color: transparent;
}

.buttons {
  display: flex;
  gap: 20px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 5;
}

.pagination {
  display: flex;
  justify-self: center;
  gap: 20px;
  cursor: pointer;
  padding: 0;
  height: 35px;
  margin-bottom: 100px;
}

.pagination a {
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
}

.pagination li {
  list-style: none;
}

.active {
  background-color: cornflowerblue;
  border-radius: 5px;
  width: 20px;
  height: 25px;
}

.margin {
  margin-bottom: 100px;
}

@media (max-width: 1280px) {
  .store2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1280px) {
  .store2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .store {
    width: 100vw;
    grid-template-columns: 1fr 3fr;
    height: 120px;
  }

  .avatar img {
    width: 60px;
    height: 60px;
  }

  .info {
    padding-left: 10px;
  }

  .info h2 {
    font-size: 16px;
  }

  .info p {
    font-size: 12px;
  }

  .info2 {
    padding-right: 0;
  }

  .redes {
    justify-self: center;
  }

  .store2 {
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .buttons {
    right: 20px;
  }
}
