.more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.more .tyc {
  border: none;
  background-color: transparent;
}

.more .pdp {
  border: none;
  background-color: transparent;
}

.admin {
  position: fixed;
  top: 65px;
  right: 20px;
}

.admin button {
  border: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .more {
    grid-template-columns: 1fr;
  }

  .section {
    margin-top: 120px;
  }

  .more .pdp {
    margin-bottom: 100px;
  }
}
