.more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  align-items: last baseline;
  margin-bottom: 50px;
}

.cenC {
  display: grid;
  width: 350px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
  align-self: flex-end;
}

.cenC p {
  font-size: 12px;
  margin: 0;
  align-self: center;
  color: red;
}

.button {
  background-color: transparent;
  border: none;
}

.MP {
  display: grid;
  justify-self: left;
}

.MP button {
  padding: 0;
}

.modal {
  display: grid;
  width: 300px;
  justify-self: center;
  color: initial;
  font-size: 12px;
}

.admin {
  position: fixed;
  top: 65px;
  right: 20px;
}

.admin button {
  border: none;
  background-color: transparent;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}

.bottom a {
  justify-self: center;
  transition: 200ms;
  margin: 10px;
}

.bottom a:hover {
  transform: scale(1.02);
}

.bottom button {
  background-color: transparent;
  border: none;
  color: initial;
}

.bottom button:hover {
  color: cornflowerblue;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffe66d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .more {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }

  .section {
    margin-top: 120px;
  }

  .bottom {
    grid-template-columns: 1fr;
  }
}
