.more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  align-items: last baseline;
  margin-bottom: 50px;
}

.cenC {
  display: grid;
  width: 350px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(128, 128, 128, 0.2);
  align-self: flex-end;
}

.cenC p {
  font-size: 14px;
  margin: 0;
  align-self: center;
}

.button {
  background-color: transparent;
  border: none;
}

.MP {
  display: grid;
  justify-self: left;
}

.MP button {
  padding: 0;
}

.modal {
  display: grid;
  width: 300px;
  justify-self: center;
  color: initial;
  font-size: 12px;
}

.admin {
  position: fixed;
  top: 65px;
  right: 20px;
}

.admin button {
  border: none;
  background-color: transparent;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}

.bottom a {
  justify-self: center;
  transition: 200ms;
  margin: 10px;
}

.bottom a:hover {
  transform: scale(1.02);
}

.bottom button {
  background-color: transparent;
  border: none;
  color: initial;
}

.bottom button:hover {
  color: cornflowerblue;
}

@media (max-width: 768px) {
  .more {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }

  .section {
    margin-top: 120px;
  }

  .bottom {
    grid-template-columns: 1fr;
  }
}
