.searchBar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  z-index: 9999;
}

.searchBar input {
  width: 320px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.searchBar button {
  background-color: transparent;
  border: none;
}

.searchBar img {
  align-self: center;
}

@media (max-width: 900px) {
  .searchBar input {
    width: 180px;
    font-size: 12px;
  }

  .searchBar button {
    display: none;
  }
}
