.searchBar {
  position: fixed;
  left: 50%;
  transform: translateX(-45%);
  z-index: 10;
  top: 10px;
}

.searchBar form {
  display: flex;
}

.searchBar input {
  width: 320px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.searchBar button {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-left: 5px;
  align-self: center;
}

@media (max-width: 900px) {
  .searchBar input {
    width: 180px;
    font-size: 12px;
  }
}
