.viewStore {
  display: grid;
  position: absolute;
  left: 0;
}

.favorite {
  justify-self: center;
  align-self: center;
}

.favorite .fav {
  width: 30px;
}

.store {
  display: grid;
  grid-template-columns: 200px 6fr 1fr;
  width: 100vw;
  height: 200px;
  justify-self: center;
  margin-top: 60px;
  background-color: rgba(128, 128, 128, 0.1);
}

.stars {
  justify-self: center;
}

.avatar {
  display: grid;
  justify-content: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  border: 3px solid red;
  margin: 5px;
  object-fit: cover;
}

.info2 {
  position: absolute;
  display: inline-flex;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100vw;
  justify-content: center;
  top: 260px;
}

.info2 p {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  text-align: left;
  align-self: center;
  padding-left: 30px;
  overflow: hidden;
}

.info h2 {
  margin: 0;
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
  white-space: nowrap;
}

.info p {
  margin: 0;
  color: cornflowerblue;
}

.rating {
  display: flex;
}

.rating p {
  margin: 0;
}

.rating input {
  margin: 0;
  margin-right: 5px;
}

.rating label {
  margin-left: 5px;
  margin-right: 5px;
}

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5px;
  justify-self: center;
}

.redes button {
  display: grid;
  width: 40px;
  height: 40px;
  justify-self: center;
  align-self: center;
}

.redes img {
  justify-self: center;
  align-self: center;
}

.title {
  display: grid;
  height: 100px;
  font-style: italic;
  color: grey;
}

.title h2 {
  justify-self: center;
  margin: 0;
  align-self: center;
}

.store2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-self: center;
}

.info2 button {
  border: none;
  background-color: transparent;
}

.buttons {
  display: flex;
  gap: 20px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 5;
}

.pagination {
  display: flex;
  justify-self: center;
  gap: 20px;
  cursor: pointer;
  padding: 0;
  height: 35px;
  margin-bottom: 100px;
}

.pagination a {
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
}

.pagination li {
  list-style: none;
}

.active {
  background-color: cornflowerblue;
  border-radius: 5px;
  width: 20px;
  height: 25px;
}

.margin {
  margin-bottom: 100px;
}

@media (max-width: 1280px) {
  .store2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .store {
    width: 100vw;
    grid-template-columns: 1fr 3fr 0.5fr;
    height: 120px;
  }

  .avatar img {
    width: 60px;
    height: 60px;
  }

  .info {
    padding-left: 10px;
  }

  .info h2 {
    font-size: 16px;
  }

  .info p {
    font-size: 12px;
  }

  .info2 {
    top: 180px;
    padding-right: 0;
  }

  .redes {
    justify-self: center;
  }

  .store2 {
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .buttons {
    right: 20px;
  }
}



