.chat {
  display: grid;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100vw;
  background-color: initial !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-type-selection {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 999999;
}

div.ce-chat-list-column
  > div
  > div
  > div:nth-child(1)
  > div
  > div
  > div:nth-child(1)
  > div {
  display: none;
}

div.ce-chat-feed-column
  > div
  > div.ce-chat-title
  > div.ce-chat-list-mobile-option
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div.ce-chat-form-container
  > div
  > div:nth-child(1)
  > div {
  display: none;
}

span.anticon.anticon-setting {
  display: none;
}

span.anticon.anticon-menu {
  color: black !important;
}

span.anticon.anticon-close {
  color: cornflowerblue !important;
}

div.ce-settings-column {
  border-left: 1px solid red;
}

div[id^="ce-username-option-"] {
  background-color: initial !important;
}

input.ce-input.ce-text-input {
  background: transparent !important;
}

.ce-chat-engine {
  background-color: transparent !important;
  color: initial !important;
}

.ce-chat-engine img {
  border-radius: 15px !important;
  border: none !important;
}

div.ce-photo-thumbnail {
  border: none !important;
}

button#ce-delete-chat-button {
  background-color: initial !important;
}

div.ce-chat-list {
  background-color: initial !important;
  border-right: 1px solid red !important;
}

div.ce-chats-container {
  background-color: transparent !important;
}

div.ce-chat-form-container {
  background-color: transparent !important;
}

div.ce-active-chat-card {
  background-color: red !important;
  margin: 5px !important;
}

div.ce-chat-card.false {
  background-color: grey !important;
  border-radius: 10px;
  margin: 5px;
}

div.ce-chat-feed {
  background-color: transparent !important;
}

div.ce-chat-title {
  background-color: red !important;
  border-top: 1px solid black !important;
}

div.ce-chat-title-text {
  color: initial;
}

div.ce-chat-subtitle-text {
  color: initial;
}

div.ce-chat-subtitle-text.ce-chat-subtitle-message {
  color: initial !important;
}

div.ce-chat-subtitle-text.ce-chat-subtitle-date {
  color: initial !important;
}

div.ce-message-date-text {
  color: initial !important;
}

span.ce-message-timestamp {
  color: initial !important;
}

div.ce-their-message-sender {
  color: initial !important;
}

div#ce-feed-container {
  background-color: transparent !important;
}

div#msg-form-container {
  background-color: red !important;
}

div.ce-settings {
  background-color: transparent !important;
  border-left: 1px solid red !important;
}

div.ce-section-title-container {
  background-color: transparent !important;
}

div#ce-options-drop-down {
  background-color: transparent !important;
}

div.ce-message-bubble.false {
  background-color: red !important;
}

div#ce-send-message-button {
  background-color: cornflowerblue !important;
}

div#toolbar {
  border: none;
}

div.ql-container {
  border: none !important;
}

div.ql-editor.ql-blank {
  background-color: whitesmoke !important;
  border-radius: 10px;
  margin: 5px;
}

div.ql-editor {
  background-color: whitesmoke !important;
  border-radius: 10px;
  margin: 5px;
  color: black !important;
}

button#new-chat-plus-button {
  background-color: red !important;
}

.chat #ce-ice-breaker-text {
  display: none !important;
}

.chat #ce-ice-breaker-gif {
  display: none !important;
}

.ql-editor {
  white-space: unset !important;
}

div.ce-wrapper {
  background-color: initial !important;
}

@media (max-width: 900px) {
  .chat {
    top: 1px;
  }

  div.ce-settings {
    border-left: none !important;
  }

  div .ce-chat-list {
    border-right: none !important;
  }

  div.ce-settings-column {
    border-left: none;
  }
}
