.chat {
  display: grid;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100vw;
}

.chat .toggle {
  display: none;
}

.chat .text {
  display: none;
}

body .chat input::placeholder {
  color: transparent !important;
}

body .chat div {
  color: initial !important;
}

body div.ce-avatar.undefined {
  bottom: 3px !important;
}

body .chat input {
  color: initial !important;
  border: 1px solid grey !important;
  box-shadow: none !important;
}

body span.ce-their-message-timestamp {
  color: rgb(24, 144, 255) !important;
}

body .ce-their-message-body.false {
  color: white !important;
  background-color: grey !important;
}

body .ce-ice-breaker-gif {
  display: none;
}

body .ce-ice-breaker-wrapper {
  display: none;
}

body div .ce-chat-card.ce-active-chat-card {
  background-color: red !important;
  border: none !important;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3) !important;
}

div.ce-my-message-body.ce-my-message-sending-body {
  background-color: grey !important;
}

body div .ce-chat-card.false {
  border: none !important;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3) !important;
  background-color: grey !important;
}

body div .ce-my-message-body.false {
  color: white !important;
  background-color: red !important;
}

button.ce-custom-send-button {
  background-color: red !important;
  border: none !important;
  box-shadow: none !important;
}

body .ce-chat-list {
  background-color: rgba(128, 128, 128, 0.3) !important;
}

body .ce-chat-feed {
  background-color: rgba(128, 128, 128, 0.2) !important;
}

body .ce-message-list {
  background: rgba(128, 128, 128, 0.1) !important;
}

body .ce-custom-message-form {
  background-color: transparent !important;
}

body .ce-custom-message-input {
  margin-top: 23px !important;
  background-color: rgba(128, 128, 128, 0.3) !important;
}

body .ce-new-chat-button {
  display: none !important;
  background-color: red !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

div.ce-custom-header-icon-wrapper {
  text-align: left !important;
}

@media (max-width: 900px) {
  .chat {
    top: 0;
  }
}

@media (max-width: 666px) {
  .chat {
    bottom: 0;
  }

  body .chat2 .ce-chat-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 91vh !important;
    width: 100vw !important;
    background-color: rgb(45, 45, 45) !important;
    border-radius: 0px 0px 10px 10px;
  }

  .chat .toggle {
    display: block;
    position: absolute;
    right: 6%;
    top: 25px;
    z-index: 999;
  }

  .chat .text {
    display: none;
  }

  .chat .icon {
    display: none;
  }

  button.toggle {
    height: 40px;
    width: auto;
    border: none;
    background-color: transparent !important;
    border: none;
  }

  .chat2 .toggle {
    position: fixed;
    right: 6%;
    top: 25px;
    z-index: 999;
  }

  /*  .chat2 .text {
    position: fixed;
    width: 150px;
    top: 22px;
    left: 110px;
    z-index: 999; 
    font-size: 14px;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  } */

  .chat2 .icon {
    position: fixed;
    width: 20px;
    top: 15px;
    right: 70px;
    z-index: 999;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    animation: moving 1s infinite;
  }

  @keyframes moving {
    0% {
      right: 75px;
    }
    50% {
      right: 70px;
    }
    100% {
      right: 75px;
    }
  }

  .chat2 button {
    height: 40px;
    width: auto;
    background-color: transparent !important;
    border: none;
  }

  body .chat2 .ce-chat-feed {
  }
}
