.home {
  display: grid;
  position: absolute;
  top: 60px;
  left: 0;
}

.title {
  display: grid;
  justify-self: center;
}

.title h2 {
  font-weight: 800;
  font-style: italic;
  margin: 0;
  margin-top: 20px;
}

.title p {
  margin: 0;
  margin-bottom: 20px;
}

.title .fire {
  width: 40px;
  height: 40px;
  padding-top: 15px;
}

.title .diam {
  width: 60px;
  height: 60px;
  padding-top: 5px;
}

.cards {
  display: grid;
}

.stores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 42px;
  justify-self: center;
  margin-bottom: 100px;
}

@media (max-width: 1280px) {
  .stores {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .stores {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .stores {
    grid-template-columns: 1fr;
  }
}

