.filters {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  z-index: 11;
  align-content: center;
  justify-self: center;
  gap: 30px;
}

.filters select {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .filters {
    gap: 5px;
  }

  .filters select {
    font-size: 12px;
  }
}
