.filters {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  z-index: 11;
  align-content: center;
  justify-self: center;
  gap: 15px;
}

.filters button {
  background-color: transparent;
  color: white;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.filtros {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background-color: rgba(128, 128, 128, 0.9);
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filtros h3 {
  font-style: italic;
  justify-self: center;
}

.filtros select {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  justify-self: center;
  align-self: center;
}

.filtros button {
  justify-self: center;
  align-self: flex-end;
  background-color: cornflowerblue;
}

.filtros .limpiar {
  width: 120px;
  background-color: transparent;
}

.filtros .abiertas {
  width: 200px;
  height: 30px;
  background-color: yellowgreen;
  align-self: center;
  color: black;
}

.filtros .todas {
  width: 200px;
  height: 30px;
  background-color: white;
  align-self: center;
  color: black;
}

@media (max-width: 768px) {
  .filters {
    gap: 5px;
  }

  .filters select {
    font-size: 12px;
  }
}
