.misventas {
  display: grid;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
}

.pend {
  text-align: center;
  justify-self: center;
  color: red;
  font-style: italic;
}

.nopend {
  display: grid;
  width: 280px;
  height: 100px;
  border-radius: 10px;
  justify-self: center;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
}

.nopend p {
  text-align: center;
  align-self: center;
}

.ent {
  font-style: italic;
  text-align: center;
  justify-self: center;
  color: cornflowerblue;
}

.noent {
  display: grid;
  width: 280px;
  height: 100px;
  border-radius: 10px;
  justify-self: center;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
}

.noent p {
  text-align: center;
  align-self: center;
}

.title {
  margin-top: 30px;
  height: 50px;
  justify-self: center;
  font-style: italic;
  color: initial;
}

.pendientes {
  display: grid;
  justify-self: center;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.entregadas {
  display: grid;
  justify-self: center;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 100px;
}

@media (max-width: 1280px) {
  .pendientes {
    grid-template-columns: 1fr 1fr;
  }

  .entregadas {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .pendientes {
    grid-template-columns: 1fr;
  }
  .entregadas {
    grid-template-columns: 1fr;
  }
}
