.cards {
  width: 1280px;
  justify-self: center;
  margin-left: 20px;
}

.cards button {
  background-color: gray;
  padding-top: 1.5px;
  border-radius: 50%;
}

.section {
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .cards {
    width: 840px;
  }
}

@media (max-width: 768px) {
  .cards {
    width: 360px;
    margin: 0;
  }
}
