.faq {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: grid;
  margin-top: 90px;
  margin-bottom: 90px;
}

.container h3 {
  font-style: italic;
  font-size: 24px;
  justify-self: center;
}

.container details {
  width: 100vw;
  justify-self: center;
  margin-top: 30px;
}

.container summary {
  font-style: italic;
  color: cornflowerblue;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.container p {
  padding: 20px;
  margin: 20px;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  text-align: justify;
}

/* @media (max-width: 900px) {
  .container {
    width: 100vw;
  }
} */

