.modal {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red; 
    z-index: 99999;
}

.modal img {
    width: 150px;
    align-self: center;
    justify-self: center;  
}

.landing button {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: 800;
}

/* .landing {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.landing img {
    width: 150px;
    align-self: center;
    justify-self: center;
} */