.navbar {
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  background-color: red;
  z-index: 2;
}

.navbar .toHome {
  margin-left: 20px;
}

.navbar a {
  align-self: center;
}

.logo {
  display: grid;
  height: 60px;
}

.logo img {
  height: 55px;
  align-self: center;
  justify-self: left;
  padding-bottom: 2px;
}

.search {
  display: flex;
  align-self: center;
  justify-self: center;
}

.search button {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 0;
  border: 0;
  margin-left: 10px;
}

.search img {
  padding-top: 2px;
}

.directAccess {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.directAccess button {
  align-self: center;
  justify-self: right;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  border: 0;
}

.profilePicture {
  object-fit: cover;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.modal {
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  background-color: rgb(210, 210, 210);
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  z-index: 9;
}

.modal h3 {
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-style: italic;
}

.accounts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.accounts a {
  justify-self: center;
  width: 60px;
  height: 60px;
}

.accounts button {
  width: 60px;
  height: 60px;
  margin: 0;
}

.accounts img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .navbar {
    top: auto;
    bottom: 0;
  }

  .logo {
    display: none;
  }

  .navbar .toHome {
    display: none;
  }
}
